---
layout: base
title: Ellie Rose
permalink: /
---

{% assign pageName = 'index' %}
{% include nav.html %}

<div class="row-fluid">
  <div class="span3">
  </div>
  <div class="span6">
    <div id="postCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {% for post in site.posts %}
        <div class="{% if forloop.first %} active {% endif %} item">
          <a href="{{ post.url }}/" title="{{ post.title }}"> 
            <img src="{{ post.thumbnail-image }}" alt="{{ post.title }}">
          </a>
          <div class="carousel-caption">
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#postCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#postCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span3">
  </div>
</div>

